weather/
__pycache__/
*.pyc
*.pyo
*.pyd

*.log
.cache/
*.tmp
.pytest_cache/

.DS_Store
*.swp
.vscode/
*.sublime-project

/data/*.csv
*.sqlite3
/data/*.db

*.env
docker-compose.override.yml

airflow.db
airflow-webserver.pid
logs/
airflow.cfg

.env.local
*.secret
credentials.json

*.bak
/dist/
/build/
*.egg-info/

